---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SiteFrame } from '../components/SiteFrame';
---

<BaseLayout title="About | blog.gaaamii.jp" description="about this blog">
  <SiteFrame title="About">
    <p>blog.gaaamii.jp の公開サイトです。Phase 2 で Astro へ移行中です。</p>
  </SiteFrame>
</BaseLayout>
