.root {
  padding: 0 16px;
  font-size: 16px;
}
.root a {
  color: #0099ff;
}
.root a:hover {
  text-decoration: underline;
}
.root ul {
  margin: 0 8px;
}
.title {
  font-size: 24px;
}
.root h2 {
  margin-top: 40px;
}

@media only screen and (max-width: 480px) {
  .root pre {
    font-size: 12px;
    width: 100vw;
    margin-left: -16px;
  }
}
