EDITOR_API_BASE_URL=http://localhost:3001/api/mock
NEXT_PUBLIC_EDITOR_API_BASE_URL=https://api.gaaamii.jp
NEXT_PUBLIC_SITE_URL=https://blog.gaaamii.jp
NEXT_PUBLIC_CLOUDINARY_CLOUDNAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
