/* [project]/apps/site/components/feature/Article/styles.module.css [client] (css) */
.styles-module__ApMEEa__root {
  border-radius: 8px;
  font-size: 18px;
}

.styles-module__ApMEEa__root li:first-child {
  margin-top: 0;
}

.styles-module__ApMEEa__root blockquote {
  background: #f3f3f3;
  border-radius: 4px;
  margin-top: 18px;
  padding: 24px;
}

@media (prefers-color-scheme: dark) {
  .styles-module__ApMEEa__root blockquote {
    background-color: var(--color-neutral-800, #262626);
    color: var(--color-stone-300, #d6d3d1);
  }

  @supports (color: lab(0% 0 0)) {
    .styles-module__ApMEEa__root blockquote {
      background-color: var(--color-neutral-800, lab(15.204% 0 -.00000596046));
      color: var(--color-stone-300, lab(84.7909% .928015 1.59738));
    }
  }
}

.styles-module__ApMEEa__root blockquote > p {
  margin-top: 0;
}

.styles-module__ApMEEa__root img {
  background: linear-gradient(135deg, #eee 25%, #ddd 50%, #eee 75%) 0 0 / 200% 100%;
  border: 1px solid #eee;
  border-radius: 8px;
  max-width: 100%;
  margin-top: 16px;
  animation: 1.5s ease-in-out infinite styles-module__ApMEEa__loading;
  box-shadow: 1px 1px 2px #fafafa;
}

@media (prefers-color-scheme: dark) {
  .styles-module__ApMEEa__root img {
    box-shadow: none;
    border: 0;
  }
}

@keyframes styles-module__ApMEEa__loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.styles-module__ApMEEa__root pre {
  white-space: pre-wrap;
  margin-top: 16px;
}

.styles-module__ApMEEa__root hr {
  margin-top: 36px;
}

@media only screen and (max-width: 480px) {
  .styles-module__ApMEEa__root {
    border-radius: 8px;
  }

  .styles-module__ApMEEa__root > time {
    margin-top: 16px;
    display: block;
  }

  .styles-module__ApMEEa__root pre {
    width: 100vw;
    margin-left: -24px;
    font-size: 12px;
  }

  .styles-module__ApMEEa__root pre > div {
    border-radius: 0 !important;
  }

  .styles-module__ApMEEa__root img {
    max-width: 100vw;
    box-shadow: 0;
    border: none;
    border-radius: 0;
    margin-left: -24px;
  }
}

/* [project]/apps/site/components/feature/Markdown/styles.module.css [client] (css) */
.styles-module__yxVr4G__plainCode {
  border-radius: 2px;
  width: 100%;
}

/* [project]/apps/site/components/feature/Main/styles.module.css [client] (css) */
.styles-module__yETTza__root {
  width: 80%;
  max-width: 800px;
  min-height: calc(100svh - 150px);
}

@media only screen and (max-width: 480px) {
  .styles-module__yETTza__root {
    width: 100%;
    min-height: calc(100svh - 112px);
  }
}

/* [project]/apps/site/components/feature/NavigationHeader/styles.module.css [client] (css) */
.styles-module__WQwzaG__navigationList {
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 80%;
  max-width: 960px;
  height: 60px;
  margin: 0 auto;
  list-style: none;
  display: flex;
}

.styles-module__WQwzaG__navigationListItem {
  list-style: none;
}

.styles-module__WQwzaG__navigationListItem--isPrimary {
  flex-grow: 1;
  font-weight: bold;
}

.styles-module__WQwzaG__navigationListItem--isPrimary > a {
  align-items: center;
  gap: 8px;
  text-decoration: underline;
  display: flex;
}

.styles-module__WQwzaG__navigationListItem--isPrimary > a:hover {
  text-decoration: underline;
}

.styles-module__WQwzaG__utilityItem {
  list-style: none;
}

.styles-module__WQwzaG__logo {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

@media only screen and (max-width: 480px) {
  .styles-module__WQwzaG__navigationList {
    justify-content: center;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    list-style: none;
  }

  .styles-module__WQwzaG__navigationListItem {
    display: none;
  }

  .styles-module__WQwzaG__navigationListItem--isPrimary {
    flex-grow: initial;
    display: inline-block;
  }

  .styles-module__WQwzaG__utilityItem {
    display: inline-block;
  }
}

/* [project]/apps/site/components/feature/Avatar/styles.module.css [client] (css) */
.styles-module__skVrrG__avatar {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

/*# sourceMappingURL=apps_site_components_feature_2b5a49fb._.css.map*/