.time {
  display: inline-block;
  width: 112px;
  font-size: 14px;
}
.title {
  font-size: 18px;
  margin: 0;
  display: inline-block;
  margin-left: 8px;
  flex-grow: 1;
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .time {
    display: block;
  }
  .title {
    display: block;
    margin-left: -8px;
  }
}
@media only screen and (max-width: 640px) {
  .time {
    position: absolute;
    top: 12px;
    left: 16px;
    padding: 0;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
  }
  .link:hover {
    text-decoration: none;
  }
  .title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: block;
  }
}
