---
import '../styles/globals.css';

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = 'blog.gaaamii.jp public site',
} = Astro.props as Props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <slot />
  </body>
</html>
