---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main style="max-width: 840px; margin: 0 auto; padding: 2rem 1rem; font-family: sans-serif;">
      <slot />
    </main>
  </body>
</html>
