.root {
  display: block;
  padding: var(--box-padding, 1rem);
  border-width: var(--box-border-width, 0);
  border-style: solid;
  border-color: var(--box-border-color, currentColor);
  border-radius: var(--box-radius, 0);
  background-color: var(--box-background-color, transparent);
  color: var(--box-color, inherit);
}

