@config "../tailwind.config.js";
@import "tailwindcss";

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: disc;
}

* {
  box-sizing: border-box;
}

body,
input,
textarea {
  @apply bg-white;
  @apply text-black;
}

html.dark body,
html.dark input,
html.dark textarea {
  @apply bg-neutral-800;
  @apply text-neutral-300;
  @apply border-neutral-400;
}
