@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: disc;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body,
  input,
  textarea {
    @apply bg-neutral-800;
    @apply text-neutral-300;
    @apply border-neutral-400;
  }
}
